@import "../../../../App.scss";
%temp {
  animation: borderanimate 1.7s infinite;
  transform: scale(1.1);
}

.Items {
  display: flex;
  overflow: scroll;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  font-family: $fontItem;
  font-size: 15px;

  // @media only screen and (orientation: portrait) {
  //   justify-content: -around;
  // }

  .ItemList {
    position: relative;
    width:15vw;
    margin-right: 15px;
    max-width: 200px;
    min-width: 150px;
    height:280px;
  
    @media only screen and (max-width:500px){
      width:30vw;
      margin:2.5px;
    }
    @media only screen and (max-width:475px){
      width:45vw;
      margin:3px;
    }
  
    border: none;
    .main-infor {
      border-radius: 5px;
      background-color: white;
      padding: 0;
      box-sizing: border-box;
      margin: 5px;
      text-align: center;
      height:100%;
      width:100%;
      // height: 156px;
      // width: 100px;
      position: relative;
      background-color: #fffafa;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: rgb(59, 6, 6);
      .price {
        color: rgb(34, 218, 34);
      }
      .price.OFS {
        font-size: 16px;
        transform: translateY(-10px);
      }
      .hover-container {
        width:80%;
        height:60%;
        z-index: 6;
        position: relative;
        .hover {
          display: none;
        }
        .img-container {
          display: inline-block;
          position: relative;
          width:100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          
        //   .img {
        //     padding: 0;
        //     position: relative;
        //     margin: 0;
        //     border: 2px solid rgb(97, 230, 97);
        //     background-color: gray;
        //     margin-top: 10px;
        //     width:auto;
        //     height: 140px;
            
        //   }
        // }
        }
      }
      .hover-container:hover {
        z-index: 1000;
        .img-container {
          z-index: 5;
          // .img {
          //   transform: scale(1.3);
          //   transition: all 0.3s;
          // }
        }
        .hover {
          z-index: 1000;
          padding: 15px;
          border-radius: 1px;
          border: none;
          z-index: 1234;
          -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          -moz-box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
          display: inline-block;
          position: absolute;

          width: 160px;

          background-color: rgba(49, 33, 33, 0.9);
          color: $themeColor;
          h5 {
            font-weight: 400;
            font-size: 15px;
            .title-text {
              color: white;
              font-weight: bold;
              text-shadow: 1px 1px 2px black;
            }
          }
        }
        .hover:hover {
          display: none;
        }
      }

   
     
    }
   
  }
 
}
