@import "../Items/Items.scss";
@import "../../App.scss";
.Cart {
  background-image: url("https://img.zing.vn/gn/images/data/000Thang52014/016/1920x1200-T8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  &-List {
    width: 50vw;
    margin-top: 10vh;
    min-width: 500px;
    border-radius: 5px;
    @media only screen and(orientation:portrait) {
      min-width: 80vw;
    }
    height: 50vh;
    min-height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: rgba(36, 35, 35, 0.4);
    &-Text {
      color: white;
      font-family: $font1;
      font-size: 30px;
      margin-top: 150px;
      transform: rotate(15deg);

      perspective: 15px;
    }
    &-Item {
      border-radius: 5px;
      background-color: white;
      display: inline-block;

      padding: 0;
      box-sizing: border-box;
      margin: 5px;
      text-align: center;
      height: 190px;
      width: 120px;
      position: relative;
      border: 1px solid gray;

      color: rgb(59, 6, 6);
      img {
        padding: 0;
        margin: 0;
        border: 2px solid rgb(97, 230, 97);
        background-color: gray;

        max-width: 60px;
        height: 60px;
      }
      h4,
      h5,
      h6 {
        margin: 0;
        font-size: 13px;
      }
      form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        label {
          text-align: right;
        }
        input {
          width: 60px;
          border: none;
          text-align: center;
          border-radius: 3px;
          background-color: rgb(204, 194, 194);
        }
      }
      .price {
        color: rgb(34, 218, 34);
      }
      
    }
  }
  &-Payment {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    h2 {
      font-family: $font1;
    }
   
    
    
  }
}
