$colorTheme: gray;
$colorText: white;
$font1: "Quicksand", sans-serif;
$themeColor: #f0df4d;
$fontItem: "Source Sans Pro", sans-serif;
$fontSide: "Open Sans", sans-serif;
$color-text: rgb(255, 255, 255);
$navbar-width-toggle: 550px;
