@import "../../App.scss";
%temp{
  animation: borderanimate 1.7s infinite;
  transform: scale(1.1);
}
%btn{
  border: 1px solid rgb(63, 62, 62);
        border-radius: 2px;
        background-color: gray;
}
.Items {
  display: flex;
  overflow: scroll ;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  font-family: $fontItem;
  font-size: 15px;
 
  @media only screen and (orientation: portrait) {
    justify-content: space-around;
    
  }

  .ItemList {
    animation:slideup 0.3s;
  
    .main-infor {
      border-radius: 5px;
      background-color: white;

      padding: 0;
      box-sizing: border-box;
      margin: 5px;
      text-align: center;
      height: 140px;
      width: 100px;
      position: relative;
      border: 1px solid gray;
      display: inline-block;
      color: rgb(59, 6, 6);
      .price{
        color:rgb(34, 218, 34);
      }
      .hover-container {
        .img-container {
          display: inline-block;
          .img {
            padding: 0;
            margin: 0;
            border: 2px solid rgb(97, 230, 97);
            background-color: gray;
            margin-top: 10px;
            max-width: 60px;
            height: 60px;
          }
          .img:hover {
            transform: scale(1.3);
            transition: all 0.3s;
          }
        }
        .hover {
          display: none;
        }
      }
      .hover-container:hover {
        .hover {
          padding: 15px;
          border-radius: 5px;
          border: none;
z-index: 123;
          -webkit-box-shadow: 2px 2px 2px 4px rgba(10, 10, 10, 0.9); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          -moz-box-shadow: 2px 2px 2px 4px rgba(10, 10, 10, 0.9); /* Firefox 3.5 - 3.6 */
          box-shadow: 2px 2px 2px 4px rgba(10, 10, 10, 0.9);

          display: inline-block;
          position: absolute;
          
          width: 160px;

          background-color: rgba(49, 33, 33, 0.9);
          color: $themeColor;
          h5 {
            font-weight: 400;
            font-size: 15px;
            .title-text {
              color: white;
              font-weight: bold;
              text-shadow: 1px 1px 2px black;
            }
          }
        }
        .hover:hover {
          display: none;
        }
      }

      h4 {
        position: absolute;
        top: 70px;
        margin: 10px auto;
        width: 100%;
        text-align: center;
        font-size: 13px;
      }
      .add-btn {
        position: absolute;
        top: 115px;
        display: block;
        margin-left: 10px;
        @extend %btn;
        color: white;
        cursor: pointer;
      }
      .add-btn:hover {
       @extend %temp;
      }
    }
  }
 
  
  
}

@keyframes slideup{
  from {
    transform: translateY(15px);
    opacity: 0;
    
  
  }
  to{
    transform: translateY(0);
    opacity:1;
  }
}
@keyframes borderanimate {
  0%,
  100% {
    border: 1px solid rgb(0, 122, 0);
  }
  50% {
    border: 1px solid rgb(255, 255, 5);
  }
}
