@import "../../App.scss";

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo-container {
    display: inline-block;
    margin-right: 15px;
    padding: 0;

    img {
      width: 50px;
      height: auto;
    }
  }
  ul {
    display: inline-block;
    
    li {
      .cart-count {
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        color: rgb(240, 0, 0);
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
        width: 15px;
        height: 17px;
        font-size: 12px;
        line-height: 15px;
        border-radius: 100%;
        border: 1px solid white;
        box-shadow: 0px 1px 3px white;

        margin-left: 2px;
      }
    }
  }
  margin-left: 6px;
  ul {
    @extend %setting;

    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      @extend %setting;
      color: $colorText;
      display: inline-flex;
      flex-direction: row;
      clear: none;
      margin-right: 20px;
      cursor: pointer;
      font-family: $font1;
    }
   a > li:hover {
      border-bottom: 1px solid orange;
    }
  }
}
