.ItemViewer {
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
  .DisplayImage {
    min-height: 400px;

    height: 70vh;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 45px;
    min-width: 200px;
    width: 50vw;

    max-width: 500px;
    .Link{
      position: absolute;
      border:2px solid white;
      background-color: orangered;
      color:white;
      padding: 2px;
    }
    img {
      border: 2px solid rgb(224, 90, 0);
      width: 100%;
      height: auto;
    }
    @media only screen and (max-width: 1000px) {
      width: 90vw;
      min-height: 300px;
      margin-left: 0;
      height: 50vh;
    }
  }
  .DisplayInfor {
    min-width: 300px;
    width: 40vw;
    height: 60vh;
    position: relative;
    @media only screen and (max-width: 1000px) {
      width: 90vw;
      height: 30vh;
    }
    h1{
        font-size: 2em;

    }
    h3{
        font-size: 1.3em;
    }
    .Loading {
      position: relative;
      overflow: hidden;
      width: 100%;
      .loading {
        margin-bottom: 20px;
        border-radius: 5px;
        height: 50px;
      }
      .md {
        width: 100%;
      }
      .sm {
        width: 40%;
      }
    }
  }
}

