.HistoryItem{
    cursor: pointer;
    box-sizing: border-box;
    &-Hidden{
        display:none;
    }
    &-Show{
        display:block;
        overflow: scroll;
        li{
            display: inline-block;
            margin-right: 20px;
        }
    }
   
}
