@import "../../App.scss";

.Login-Container {
  position: relative;
  width: 100%;

background-position: left;

  // @include backgroundImage('https://previews.123rf.com/images/seamartini/seamartini1607/seamartini160700451/60381287-shopping-items-and-gifts-seamless-pattern-background-wallpaper-with-vector-icons-of-smartphone-shopp.jpg');
  // background-color: rgb(28, 167, 97);
  display: flex;
  
  align-items: center;
  &.user-in{
    justify-content: center;
    background-position: center;
  }
  justify-content: flex-end;
  .LoginUI {
    z-index: 0;
    width: 50vw;
    min-width: 300px;
    @media only screen and (max-width:643px) {
      width:100vw;
    }
    // min-height: 290px;
    height: 100vh;
    // background-color: white;
    // animation: LoginUIanimation 0.9s;
    .change {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      div {
        cursor: pointer;
        width: 50%;
        padding: 0;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 6px;
      }
      div.selected {
        border-bottom: 2px solid orange;
      }
    }
    .SignUp,
    .SignIn {
      display: flex;
      padding-bottom: 20px;
      padding-top: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     form{
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     }
    }
  }
}
