@import "../../App.scss";

.Login-Container {
  position: absolute;
  width: 100%;
  height: 100vh;

  // @include backgroundImage('https://i.pinimg.com/originals/fa/65/a8/fa65a8d5772b9e322970814d00b3e2dc.jpg');
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  .LoginUI {
    z-index: 1231231231;
    width: 50vw;
    min-width: 300px;
    // min-height: 290px;
    // height: 40vh;
    background-color: white;
    animation: LoginUIanimation 0.9s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    .change {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      div {
        cursor: pointer;
        width: 50%;
        padding: 0;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 6px;
      }
      div.selected {
        border-bottom: 2px solid orange;
      }
    }
    .SignUp,
    .SignIn {
      display: flex;
      padding-bottom: 20px;
      padding-top: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     form{
       display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     }
    }
  }
}
