
@import '../../App.scss';

.UserProfile{
    &-Infor{
        width:60vw;
        min-width: 400px;
        height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: $font1;
        &-User{
            background-color: rgba(65, 61, 61,.7) ;
            color:white;
            font-size: 18px;
            font-family: inherit;
            width:100%;
            text-align: center;
            height:20vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            button{
                font-family: $font1;
                @extend %btn;
            }
        }
        &-History{
            width:100%;
            height:80vh;
            background-color: white;
            overflow: scroll;
        }

    }
}