@import "../../App.scss";

.UserProfile {
  &-Infor {
    width: 70vw;
    min-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font1;
    box-shadow: rgba(26, 22, 22, 0.7);
    &-User {
      background-color: rgba(65, 61, 61, 0.7);
      color: white;
      font-size: 18px;
      font-family: inherit;
      width: 100%;
      text-align: center;
      height: 20vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
     
    }
    &-History {
      width: 100%;
      
      height: 80vh;
      background-color: rgba(26, 22, 22, 0.7);
      overflow: scroll;
      color: white;
      .title {
        text-align: center;
      }
    }
  }
}
