@import "./helper/variables";
@import "./helper//placeholders";
@import './helper//animations';
html {
  
  a{
    text-decoration: none !important;
  }
  overflow: scroll;
  input,
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

   
  }
  button:focus {outline:0;}

  
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px !important;
  }
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.App {
  position: relative;

  top: 0px;
  left: 0px;
  right: 0px;
  
  .main {
    @extend %setting;

    display: flex;
  
    flex-direction: row;

    .SidePanel {
      width: 10vw;
      min-width: 100px;
      @extend %setting;

      height: 100vh;
    }
    .Items {
      width: 100%;
      @extend %setting;
      overflow: hidden;
      height: 100vh;
      background-color: rgb(87, 172, 163);
      // background-image: url("https://img.zing.vn/gn/images/data/000Thang12014/000/T4_1_1920x1200.jpg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media only screen and (orientation: portrait) {
      flex-direction: column;
      .SidePanel {
        height: 10vh;
        width: 100%;
      }
      .Items {
        height: 90vh;
        width: 100%;
      }
    }
  }
}
