$colorTheme: gray;
$colorText: white;
$font1: "Quicksand", sans-serif;
$themeColor:#f0df4d;
$fontItem:  'Source Sans Pro', sans-serif;
$fontSide:  'Open Sans', sans-serif;
@mixin setting {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
@mixin button {
  color: white;
  background-color:$themeColor ;
  border: none;
}
html {
  overflow: hidden;
  input,
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.App {
  position: absolute;
  
  top:0px;
  left:0px;
  right:0px;
  .NavBar {
  
    z-index: 121;
    @include setting;
    background-color: $colorTheme;
    display: flex;
   
    justify-content:space-between;
    align-items: center;
    position: relative;
    height: auto;
    font-size: 20px;
    button {
      position: absolute;
     
      right: 14px;
      top: 9px;
      display: none;
      min-height: 20px;
      max-height: 50px;
      color: black;
      border-radius: 3px;
      width:40px;
      .hamburgur{
        border-bottom: 2px solid white;
        margin-top: 4px;
        margin-bottom: 4px;
        transition:all .3s;
        
        padding:0;
        
        
      }
      .hamburgur.top{
        -webkit-transform: translateY(6px) rotate(28deg);
        -ms-transform: translateY(6px) rotate(28deg);
        -o-transform: translateY(6px) rotate(28deg);
        transform: translateY(6px) rotate(28deg);
      }
      .hamburgur.middle{
        opacity: 0;

      }
      .hamburgur.bottom{
        -webkit-transform: translateY(-6px) rotate(-28deg);
  -ms-transform: translateY(-6px) rotate(-28deg);
  -o-transform: translateY(-6px) rotate(-28deg);
  transform: translateY(-6px) rotate(-28deg);
      }

    }
    button.have-border{
      background-color: '';
    }

    .show,
    form {
      animation: showup .2s forwards;
      margin-top: 4px;
     box-sizing: border-box;
      position: relative;
      @media only screen and (orientation:portrait){
        width:100vw;
      
      margin: 2px 27% 2px 20%;
      }
      z-index: 12123;
      .input#search {
        height: 30px;
        border: none;
        border-radius: 3px;
        text-align: center;
      }
      .input#btn {
        height: 30px;
        color: black;
        border: none;
        margin-left: 3px;
        border-radius: 3px;
        cursor: pointer;
        @include button;
        margin-right: 6px;

      }
    }
    @media only screen and (orientation: portrait) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      min-height: 50px;
      button {
        display: block;
        z-index: 1212;
        @include button;
      }
      form.hide {
        display: none;
      }
    }

    .links {
      margin-left: 6px;
      ul {
        @include setting;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        li {
          @include setting;
          color: $colorText;
          display: inline-flex;
          flex-direction: row;
          clear: none;
          margin-right: 6px;
          cursor: pointer;
          font-family: $font1;
          
        }
        li:hover {
          border-bottom: 1px solid orange;
        }
      }
    }
  }
  .main {
 
    @include setting;
    display: flex;
    flex-direction: row;

    .SidePanel {
      width: 10vw;
      min-width: 100px;
      @include setting;
      
      height: 100vh;
    }
    .Items {
      width: 95vw;
      @include setting;
      
      height: 100vh;
      background-image: url('https://img.zing.vn/gn/images/data/000Thang12014/000/T4_1_1920x1200.jpg');
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
    }
    @media only screen and (orientation: portrait) {
      flex-direction: column;
      .SidePanel {
        height: 10vh;
        width: 100vw;
      }
      .Items {
        height: 90vh;
        width: 100vw;
      }
    }
  }
}

@keyframes showup {
  0% {
    height: 0px;
    transform: translateX(-70px);
    opacity: 0;
  }
  50% {
    height: 39px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 39px;
    transform: translateX(0);
  }
}
